@{
    var users = ViewData["Users"] as List<Engine.Dbo.User>;
    var roles = ViewData["Roles"] as List<Engine.Dbo.Role>;
}

<div class="row">
    @foreach (var user in users)
    {
        <span>@user.Nickname</span>
        <span>@user.Mail</span>
        <a href="Account/Display/@user.Nickname">View profile</a>
        foreach (var role in roles)
        {
            <span>@role.Value</span>
            <div class="switch">
                <input id="@Html.AttributeEncode(Convert.ToString(@user.Id) + '_' + @role.Value)" @if (@user.Roles.Exists(r => r.Value == @role.Value))
                                           { @Html.AttributeEncode("checked") } type="checkbox" onclick="changeRole(this)">
                <label for="@Html.AttributeEncode(Convert.ToString(@user.Id) + '_' + @role.Value)"></label>
            </div>
        }
    }
</div>