@{
    var videos = ViewData["Videos"] as List<Engine.Dbo.Video>;
    ViewBag.Title = "Back-office";
}

<h2>Back-office</h2>

@if (!@User.IsInRole("Moderator"))
{
    <a class="button success tiny" href="@Url.Action("ListUsers", "Admin")">Users</a>
}
<a class="button success tiny" href="@Url.Action("ListComments", "Admin")">Comments</a>

<h3>Videos</h3>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th width="300">Description</th>
                <th>Upload date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos)
            {
                <tr>
                    <td>@video.Id</td>
                    <td><a href="@Url.Action("Display", "Video", new { id = video.Id })">@video.Title</a></td>
                    <td>
                        <a href="@Url.Action("Display", "Account", new { nickname = video.User.Nickname })">@video.User.Nickname</a>
                    </td>
                    <td>@video.Description</td>
                    <td>@video.UploadDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
