@using CatMyVideo.Models
@model EditVideoViewModel

@{
  ViewBag.Title = "Edit video";
}

<h2>Edit video</h2>

<div class="row">
  <div class="medium-8 medium-centered large-5 columns">
    @using (Html.BeginForm("Update", "Video", FormMethod.Post, new { role = "form" }))
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "error" })
      <label>
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Tags) (separated with whitespaces)
        @Html.TextBoxFor(m => m.Tags)
        @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "danger" })
      </label>
      <input type="submit" value="Save changes" class="button primary expand" />
    }
  </div>
</div>