@model Engine.Dbo.Video
@{
  ViewBag.Title = "Error";
  var tags = ViewData["tags"] as List<Engine.Dbo.Tag>;
}

<div data-alert class="alert-box alert">
  This video is not encoded yet.
</div>

<div class="row">
  <div class="small-8 columns">
    <h2>
      @Model.Title
      <small>
        By <a href="@Url.Action("Display", "Account", new { nickname = ViewBag.Username })">@ViewBag.Username</a>
      </small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="medium-1 columns">
  </div>
  <div class="medium-10 end columns">
    <img src="@Url.Action("GetImage", "api/VideoAPI", new { id = Model.Id })" alt="@Model.Title" />
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns text-center">
    @foreach (var tag in tags)
    {
      <span class="label info">#@tag.Name</span>
    }
  </div>
</div>
<hr />
<div class="row">
  <div class="medium-10 medium-centered columns">
    <small>@Model.UploadDate.ToString("dd/MM/yyyy")</small>
    <p>@Model.Description</p>
  </div>
</div>
<hr />