@model Engine.Dbo.Video
@{
  ViewBag.Title = "Index";
  var tags = ViewData["tags"] as List<Engine.Dbo.Tag>;
  var comments = ViewData["comments"] as List<Engine.Dbo.Comment>;
}

@if (ViewBag.Updated != null && ViewBag.Updated)
{
  <div data-alert class="alert-box success">
    This video has been updated.
    <a href="#" class="close">&times;</a>
  </div>
}

<div class="row">
  <div class="small-8 columns">
    <h2>
      @Model.Title
      <small>
        By <a href="@Url.Action("Display", "Account", new { nickname = ViewBag.Username })">@ViewBag.Username</a>
        - @Model.ViewCount views
      </small>
    </h2>
  </div>
  <div class="small-4 columns text-right">
    <h2>
      <a href="#"><i class="fi-social-facebook"></i></a>
      <a href="#"><i class="fi-social-google-plus"></i></a>
    </h2>
  </div>
</div>

<div class="row">
  @if (ViewBag.CanDelete != null && ViewBag.CanEdit != null && (ViewBag.CanEdit || ViewBag.CanDelete))
  {
    <div class="medium-1 columns">
      <h2>
        @if (ViewBag.CanDelete != null && ViewBag.CanDelete)
        {
          <a href="#" data-reveal-id="trash-video-@Model.Id"><i class="fi-trash"></i></a>
        }
        @if (ViewBag.CanEdit != null && ViewBag.CanEdit)
        {
          <a href="@Url.Action("Edit", "Video", new { id = Model.Id })"><i class="fi-pencil"></i></a>
        }
      </h2>
    </div>
  }
  <div class="medium-10 end columns">
    <div class="flex-video widescreen vimeo">
      <iframe src="@Url.Action("Get", "api/VideoAPI", new { id = Model.Encodes.First().Id })" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns text-center">
    @foreach (var tag in tags)
    {
      <span class="label info">#@tag.Name</span>
    }
  </div>
</div>
<hr />
<div class="row">
  <div class="medium-10 medium-centered columns">
    <p>@Model.Description</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="medium-3 medium-centered columns text-center">
    <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="large alert button dropdown">Download</button><br>
    <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
        @foreach (var encode in Model.Encodes)
        {
            <li><a href="#">@encode.Quality</a></li>
        }
    </ul>
  </div>
</div>
<hr />
<h3>Comments (5)</h3>

@model CatMyVideo.Models.CommentViewModel



@model Engine.Dbo.Video

@foreach (var comment in comments)
{
  <div class="row">
    <div class="medium-10 columns medium-centered">
      <p>@comment.Message</p>
    </div>
    <div class="row">
      <div class="medium-10 medium-centered columns text-right">
        By <a href="@Url.Action("Display", "Account", new { id = comment.User.Id } )">@comment.User.Nickname</a>, posted on <em>@comment.PostDate.ToString("dd/MM/yyyy") at @comment.PostDate.ToString("HH:mm")</em>
      </div>
    </div>
    <hr />
  </div>
}

<div id="trash-video-@Model.Id" class="reveal-modal small" data-reveal aria-labelledby="Delete this video?" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Delete "@Model.Title"?</h2>
  <p class="lead">Do you really want to delete this video?</p>
  <p>
    Be careful! This action cannot be undone.
  </p>
  <p class="text-right">
    <a class="button tiny alert" aria-label="Close">Delete it!</a>
    <a class="button tiny" aria-label="Close">No</a>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
