@model Engine.Dbo.User
@{
  ViewBag.Title = User.Identity.Name;
  var videos = ViewData["videos"] as List<Engine.Dbo.Video>;
}

@if (ViewBag.Updated != null && ViewBag.Updated)
{
  <div data-alert class="alert-box success">
    This profile has been updated.
    <a href="#" class="close">&times;</a>
  </div>
}

<div class="row">
  <div class="small-3 columns">
    <h2>@Model.Nickname</h2>
  </div>
  <div class="small-4 columns text-right">
    <a href="@Url.Action("Edit", "Account", new { nickname = Model.Nickname })" class="button tiny"><i class="fi-pencil"></i> Edit</a>
  </div>
</div>
<hr />
<p>@Model.Description</p>
<hr />
<div class="row">
  <div class="small-3 columns">
    <h3>Videos</h3>
  </div>
  <div class="small-3 columns text-right">
    <a href="#" class="button tiny"><i class="fi-plus"></i> Upload</a>
  </div>
</div>
<div class="row">
  @foreach (var video in videos)
  {
    <div class="medium-3 columns end">
      <div class="text-right">
        @if (Model.Type > Engine.Dbo.User.Role.Classic || video.User == Model.Id)
        {
          <a href="#" data-reveal-id="trash-video-@video.Id"><i class="fi-trash"></i></a>
          <a href="@Url.Action("Edit", "Video", new { id = @video.Id })"><i class="fi-pencil"></i></a>
        }
      </div>
      <div class="flex-video widescreen vimeo">
        <iframe src="http://player.vimeo.com/video/42261942" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <h5>@video.Title <small>By <a href="#">@Model.Nickname</a></small></h5>

      <div id="trash-video-@video.Id" class="reveal-modal small" data-reveal aria-labelledby="Delete this video?" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Delete "@video.Title"?</h2>
        <p class="lead">Do you really want to delete this video?</p>
        <p>
          Be careful! This action cannot be undone.
        </p>
        <p class="text-right">
          <a class="button tiny alert" aria-label="Close">Delete it!</a>
          <a class="button tiny" aria-label="Close">No</a>
        </p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>
  }
</div>
