@model Engine.Dbo.User
@{
    ViewBag.Title = Model.Nickname;
    var videos = ViewData["videos"] as List<Engine.Dbo.Video>;
}

@if (ViewBag.Updated != null && ViewBag.Updated)
{
    <div data-alert class="alert-box success">
        This profile has been updated.
        <a href="#" class="close">&times;</a>
    </div>
}

<div class="row">
  <div class="small-3 columns">
    <h2>@Model.Nickname</h2>
  </div>
  @if (User.IsInRole("Admin") || User.Identity.Name == @Model.Nickname)
  {
    <div class="small-4 columns text-right">
      <a href="@Url.Action("Edit", "Account", new { nickname = Model.Nickname })" class="button tiny"><i class="fi-pencil"></i> Edit</a>
    </div>
  }
  @if (User.IsInRole("Admin"))
  {
    <div class="small-4 columns text-right">
        <a href="@Url.Action("ChangeRole", "Account", new { nickname = Model.Nickname })" class="button tiny"><i class="fi-filter"></i> Edit</a>
    </div>
  }
</div>
<hr />
<p>@Model.Description</p>
<hr />
<div class="row">
    <div class="small-3 columns">
        <h3>Videos</h3>
    </div>
</div>
<div class="row">
    @foreach (var video in videos)
    {
        <div class="medium-3 columns end">
            <div class="text-right">
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.Name == Model.Nickname)
                {
                    <a href="#" data-reveal-id="trash-video-@video.Id"><i class="fi-trash"></i></a>
                    <a href="@Url.Action("Edit", "Video", new { id = @video.Id })"><i class="fi-pencil"></i></a>
                }
            </div>
            <div>
                <a href="@Url.Action("Display", "Video", new { id = @video.Id })">
                    <img src="@Url.Action("GetImage", "api/VideoAPI", new { id = @video.Id })" alt="@video.Title" />
                </a>
            </div>
            <h5>
                <a href="@Url.Action("Display", "Video", new { id = @video.Id })">
                    @video.Title
                </a>
                <small>(@video.UploadDate.ToString("dd/MM/yyyy"))</small>
            </h5>

            <div id="trash-video-@video.Id" class="reveal-modal small" data-reveal aria-labelledby="Delete this video?" aria-hidden="true" role="dialog">
                <h2 id="modalTitle">Delete "@video.Title"?</h2>
                <p class="lead">Do you really want to delete this video?</p>
                <p>
                    Be careful! This action cannot be undone.
                </p>
                <p class="text-right">
                    <a class="button tiny alert" aria-label="Close">Delete it!</a>
                    <a class="button tiny" aria-label="Close">No</a>
                </p>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>
    }
</div>
