@using CatMyVideo.Models
@model EditViewModel
@{
  ViewBag.Title = "Edit profile";
}

<h2>Edit profile</h2>

<div class="row">
  <div class="medium-8 medium-centered large-5 columns">

    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("", new { @class = "error" })
      <label>
        @Html.LabelFor(m => m.Nickname)
        @Html.TextBoxFor(m => m.Nickname, new { @disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "danger" })
      </label>
    <label>
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "danger" })
    </label>
      <input type="submit" value="Save changes" class="button expand small" />
    }

    <a href="#" class="button alert small expand" data-reveal-id="trash-user">Delete my account</a>
    <div id="trash-user" class="reveal-modal small" data-reveal aria-labelledby="Delete this user?" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Account removal</h2>
      <p class="lead">Do you really want to delete your CatMyVideo account?</p>
      <p>
        Be *really* careful! This action cannot be undone.
      </p>
      <p class="text-right">
        <a class="button tiny alert" aria-label="Close">Delete it!</a>
        <a class="button tiny" aria-label="Close">No</a>
      </p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
</div>
