@model CatMyVideo.Models.RegisterViewModel
@{
  ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<div class="row">
  <div class="medium-8 medium-centered large-5 columns">
    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { role = "form" }))
    {
      @Html.AntiForgeryToken()
      <h4>Create a new account.</h4>
      <hr />
      @Html.ValidationSummary("", new { @class = "error" })
      <label>
        @Html.LabelFor(m => m.Nickname)
        @Html.TextBoxFor(m => m.Nickname)
        @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "danger" })
      </label>
      <label>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "danger" })
      </label>
      <input type="submit" value="Register" class="button expand small" />
      <a href="@Url.Action("Login", "Auth")" class="button expand small info">Already registered? Sign in!</a>
    }
  </div>
</div>


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
